[submodule "src/libs/trajopt"]
	path = src/libs/trajopt
	url = ../../tesseract-robotics/trajopt.git
[submodule "src/libs/opw_kinematics"]
	path = src/libs/opw_kinematics
	url = ../../Jmeyer1292/opw_kinematics.git
[submodule "src/libs/ros_industrial_cmake_boilerplate"]
	path = src/libs/ros_industrial_cmake_boilerplate
	url = ../../ros-industrial/ros_industrial_cmake_boilerplate.git
[submodule "src/libs/descartes_light"]
	path = src/libs/descartes_light
	url = ../../swri-robotics/descartes_light.git
[submodule "src/libs/ifopt"]
	path = src/libs/ifopt
	url = ../../ethz-adrl/ifopt.git
[submodule "src/pkgs_husky/husky"]
	path = src/pkgs_husky/husky
	url = ../../husky/husky
[submodule "src/pkgs_ur5/Universal_Robots_ROS_Driver"]
	path = src/pkgs_ur5/Universal_Robots_ROS_Driver
	url = ../../UniversalRobots/Universal_Robots_ROS_Driver
[submodule "src/pkgs_ur5/ur_msgs"]
	path = src/pkgs_ur5/ur_msgs
	url = ../../ros-industrial/ur_msgs
[submodule "src/libs/tesseract_qt"]
	path = src/libs/tesseract_qt
	url = ../../tesseract-robotics/tesseract_qt
[submodule "src/libs/tesseract"]
	path = src/libs/tesseract
	url = ../../tesseract-robotics/tesseract
