<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="rosbag" default="false" />
    <node name="camera_node" pkg="ur5_husky_camera" type="camera.py" output="screen">
        <param name="rosbag" type="bool" value="$(arg rosbag)"/>
    </node>

    <!-- Подключение Webserver rosbridge -->
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> -->
</launch>
