<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="steps_per_phase" default="10"/>
  <arg name="plotting" default="true" />
  <arg name="file_write_cb" default="false" />
  <arg name="ifopt" default="false"/>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_single_arm_tufts)/urdf/ur5_single_arm.urdf.xacro'"/>

  <param name="robot_description_semantic" textfile="$(find ur5_single_arm_moveit_config)/config/ur5.srdf" />

  <include file="$(find ur5_single_arm_moveit_config)/launch/moveit_rviz.launch">
    <arg name="debug" default="$(arg debug)" />
    <arg name="config" default="true" />
  </include>

  <node pkg="tesseract_ros_examples" type="tesseract_ros_examples_ur5_trajopt_node" name="tesseract_ros_examples_ur5_trajopt_node" output="screen">
    <param name="plotting" type="bool" value="$(arg plotting)"/>
    <param name="rviz" type="bool" value="$(arg rviz)"/>
    <param name="ifopt" type="bool" value="$(arg ifopt)"/>
    <param name="debug" type="bool" value="$(arg debug)"/>
  </node>

  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen"/>

</launch>